<tr>
    <td class="text-nowrap">
    {{ .Prefix() }}
    </td>
    <td class="text-nowrap">
        {{ .Root }}
        <span class="badge badge-primary">{{ .VCS }}</span>
    </td>
    <td class="text-nowrap">{{ .CreatedAt | date}}</td>
    <td class="text-nowrap">{{ .UpdatedAt | date}}</td>
    <td class="text-nowrap">
    <a class="btn btn-sm btn-success text-white" role="button" href="http://{{ .Prefix() }}?go-get=1" target="_blank">
        <i class="fas fa-eye"></i> View
    </a>
    <a class="btn btn-sm btn-info text-white" role="button" href="{{ .DocsURL() }}" target="_blank">
        <i class="fas fa-file"></i> Docs
    </a>
    <a class="btn btn-sm btn-primary text-white" role="button" href="/package/edit/{{ .ID }}">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a class="btn btn-sm btn-danger text-white" role="button" onclick="deletePackage({{ .ID }})">
        <i class="fas fa-trash"></i> Delete
    </a>
    </td>
</tr>