{{ extends "/layouts/dashboard.tmpl" }}
{{ import "/widgets/page-header.tmpl" }}
{{ import "form.tmpl" }}

{{ block body() }}

{{ yield pageHeader(title="Update package") }}

{{ yield form() }}

{{ end }}