{{ import "/layouts/head.tmpl" }}
{{ import "/layouts/header.tmpl" }}
{{ import "/layouts/footer.tmpl" }}

<!doctype html>
<html lang="en">
  <head>
    {{ yield head() }}
    <meta name="go-import" content="{{ .pkg.ImportMeta() }}">
  </head>
  <body>
    {{ yield header() }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="border-bottom mb-3 text-break">
            <i class="fas fa-cube"></i> <span>{{ .pkg.Prefix() }}</span>
            <p>
              <img src="{{ siteURL }}/badges/downloads/day/{{ .pkg.Prefix() }}" />
              <img src="{{ siteURL }}/badges/downloads/week/{{ .pkg.Prefix() }}" />
              <img src="{{ siteURL }}/badges/downloads/month/{{ .pkg.Prefix() }}" />
            </p>
          </h1>
          {{ if .pkg.Description }}
          <p>{{ .pkg.Description }}</p>
          {{ end }}
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <th width="180px"><i class="fas fa-fw fa-code"></i> Repository</th>
                  <td>
                    <a href="{{ .pkg.Root }}" target="_blank">{{ .pkg.Root }}</a>
                    <span class="badge badge-primary">{{ .pkg.VCS }}</span>
                  </td>
                </tr>
                <tr>
                  <th><i class="fas fa-fw fa-file"></i> Documentations</th>
                  <td><a href="{{ .pkg.DocsURL() }}" target="_blank">{{ .pkg.DocsURL() }}</a></td>
                </tr>
                {{ if .pkg.Homepage }}
                <tr>
                  <th><i class="fas fa-fw fa-home"></i> Homepage</th>
                  <td><a href="{{ .pkg.Homepage }}" target="_blank">{{ .pkg.Homepage }}</a></td>
                </tr>
                {{ end }}
                {{ if .pkg.License }}
                <tr>
                  <th><i class="fas fa-fw fa-ribbon"></i> License</th>
                  <td><a href="{{ .pkg.License }}" target="_blank">{{ .pkg.License }}</a></td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{ yield footer() }}
  </body>
</html>
