{{ extends "/layouts/dashboard.tmpl" }}
{{ import "/widgets/page-header.tmpl" }}

{{ block body() }}

{{ yield pageHeader(title="Dashboard") }}

<div class="row">
    <div class="card-deck col-12">
        {{ range .cards }}
        <div class="card text-white bg-{{ .Background }} mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h1 class="card-title"><i class="fas fa-{{ .Icon }}"></i> {{ .Count }}</h1>
                <p class="card-text">{{ .Title }}</p>
            </div>
            <div class="card-footer text-center">
                <a class="text-white" href="{{ .Link }}">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}