{{ extends "/layouts/dashboard.tmpl" }}
{{ import "/widgets/filter-form.tmpl" }}
{{ import "/widgets/page-header.tmpl" }}
{{ import "/widgets/pagination.tmpl" }}

{{ block body() }}
<script src="/assets/js/domain.js"></script>

{{ yield pageHeader(title="Domains") content }}
<div class="btn-toolbar mb-2 mb-md-0">
  <a class="btn btn-sm btn-primary" href="/domain/create">
      <i class="fas fa-plus"></i> Add
  </a>
</div>
{{ end }}

{{ yield filterForm(page=.pagination.Page, limit=.pagination.Limit) content }}
<input type="text" class="form-control mb-2 mr-sm-2" placeholder="Name" name="name" value="{{ .queryParams.Name }}">
<button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i> Search</button>
{{ end }}

<div class="table-responsive">
  <table class="table table-hove table-bordered">
      <thead>
        <tr>
          <th scope="col">Domain</th>
          <th scope="col">Created at</th>
          <th scope="col">Updated at</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          {{ range .domains }}
          {{ include "./item.tmpl" }}
          {{ end }}
      </tbody>
  </table>
</div>

{{ yield pagination(page=.pagination.Page, total=.pagination.PageCount()) }}

{{ end }}