{{ import "head.tmpl" }}
{{ import "header.tmpl" }}
{{ import "footer.tmpl" }}
{{ import "sidebar.tmpl" }}
{{ import "alert.tmpl" }}
{{ import "toasts.tmpl" }}
{{ import "verify-email.tmpl" }}

<!doctype html>
<html lang="en">
  <head>
    {{ yield head() }}
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <script src="/assets/js/dashboard.js"></script>
  </head>
  <body>
    {{ yield header() }}
    <div class="container-fluid">
      <div class="row">
       {{ yield sidebar() }}
        <main role="main" class="col-md-10 ml-sm-auto pt-1 px-4 mb-5">
          {{ yield verifyEmail() }}
          {{ yield alert() }}
          {{ yield body() }}
        </main>
      </div>
    </div>
    {{ yield footer() }}
    {{ yield toasts() }}
  </body>
</html>

