{{ block filterForm(page, limit) }}
<div class="filter-form mx-2 mb-4">
    <form id="filterForm" class="form-inline">
        {{ if page }}
        <input type="hidden" name="page" value="{{ page }}">
        {{ end }}
        {{ if limit }}
        <input type="hidden" name="limit" value="{{ limit }}">
        {{ end }}
        {{ yield content }}
    </form>
</div>
{{ end }}