{{ block packageVCSDropdown(options, value, allowEmpty=true, class="mr-sm-2 mb-2") }}
<select class="form-control {{ class }}" name="vcs">
    {{ if allowEmpty }}
    <option value="">Version Control System</option>
    {{ end }}
    {{ range options }}
    <option{{ if . == value }} selected{{ end }}>{{ . }}</option>
    {{ end }}
</select>
{{ end }}