<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="go-import" content="{{ .pkg.ImportMeta() }}">
<meta http-equiv="refresh" content="0; url={{ .pkg.DocsURL() }}">
<title>Package {{ .pkg.Prefix }}</title>
</head>
<body>
Nothing to see here; <a href="{{ .pkg.DocsURL() }}">move along</a>.
</body>
</html>