{{ extends "/layouts/main.tmpl" }}
{{ import "/widgets/form.tmpl" }}

{{ block body() }}
<div class="jumbotron bg-white">
    <h1 class="display-4 text-center">
        Reset password
    </h1>
    <hr class="my-4">
    <div class="mb-5 col-md-6 offset-md-3 col-sm-12">

        {{ yield form(class="needs-validation") content }}

            <input type="hidden" name="token" value="{{ .token }}">

            {{ yield formGroup() content }}
                {{ yield inputGroup() content }}
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-fw fa-lock"></i></div>
                    </div>
                    {{ yield inputField(form=.form, field="password", type="password", value=.form.Password) }}
                {{ end }}
            {{ end }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        {{ end }}

    </div>
</div>
{{ end }}