{{ extends "/layouts/main.tmpl" }}
{{ import "/widgets/form.tmpl" }}

{{ block body() }}
<div class="jumbotron bg-white">
    <h1 class="display-4 text-center">
        Verification Email
    </h1>
    <hr class="my-4">
    <div class="mb-5 col-md-6 offset-md-3 col-sm-12">
        
        {{ yield form(class="needs-validation") content }}

            {{ yield formGroup() content }}
                {{ yield inputGroup() content }}
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-fw fa-envelope"></i></div>
                    </div>
                    {{ yield inputField(form=.form, field="email", type="email", value=.form.Email) }}
                {{ end }}
            {{ end }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        {{ end }}

    </div>
</div>
{{ end }}