{{ extends "/layouts/main.tmpl" }}

{{ block body() }}

<div class="jumbotron bg-white">
    <h1 class="display-4 text-center">
        <i class="fas fa-fw fa-chart-line"></i> Trending
    </h1>
    <hr class="my-4">
    <form class="form-inline float-right">
        <div class="form-group mr-4">
            <select class="form-control" onchange="submit()" name="interval">
                {{ range _, item := .intervals }}
                <option value="{{ item.Value }}"{{ if item.Value == .interval }} selected{{ end }}>{{ item.Label }}</option>
                {{ end }}
            </select>
        </div>
    </form>
    
    <div class="clearfix"></div>

    <div class="card-body bg-transparent">
        {{ if len(.packages) == 0 }}
        <h1 class="text-center text-muted">No data</h1>
        {{ end }}
        {{ range .packages }}
        <div class="card mb-3 col-12">
            <div class="card-header bg-transparent">
                <i class="fas fa-fw fa-cube"></i> 
                <a class="text-dark" href="http://{{ .Prefix() }}?go-get=1&preview=1" target="_blank">
                    <span class="font-weight-bold">{{ .Prefix() }}</span>
                </a>
                <span class="badge badge-secondary">
                    <i class="fas fa-fw fa-download"></i> {{ .Downloads | shortScale }}
                </span>
            </div>
            <div class="card-body">
                {{ if .Description }}
                    {{ .Description }}
                {{ else }}
                    <span class="text-muted">No description provided.</span>
                {{ end }}
            </div>
            <div class="card-footer bg-transparent text-right">
                {{ if .Homepage }}
                <a class="btn btn-success btn-sm mb-2" href="{{ .Homepage }}" target="_blank">
                    <i class="fas fa-fw fa-home"></i> Homepage
                </a>
                {{ end }}
                <a class="btn btn-primary btn-sm mb-2" href="{{ .Root }}" target="_blank">
                    <i class="fas fa-fw fa-code"></i> Repository
                </a>
                <a class="btn btn-info btn-sm mb-2" href="{{ .DocsURL() }}" target="_blank">
                    <i class="fas fa-fw fa-file"></i> Documentations
                </a>
                {{ if .License }}
                <a class="btn btn-secondary btn-sm mb-2" href="{{ .License }}" target="_blank">
                    <i class="fas fa-fw fa-ribbon"></i> License
                </a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}