{{ extends "/layouts/main.tmpl" }}

{{ block body() }}
<div class="jumbotron text-white bg-dark">
    <h1 class="display-4 text-center">
        <i class="fas fa-fw fa-cubes"></i> Go Packages
    </h1>
    <p class="lead text-center">Custom your Go package import paths.</p>
    <hr class="my-4">
    <div  id="carousel" class="carousel slide pointer-event mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 bg-dark" width="800" height="240"
             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
             focusable="false" role="img">
            </svg>
            <div class="carousel-caption d-md-block">
                <h3><i class="fas fa-fw fa-download"></i> Downloads</h3>
                <p>
                    Serving go-get <span class="text-warning font-weight-bold">{{ .downloads | shortScale }}</span> requests per month, 
                    <span class="text-warning font-weight-bold">{{ .totalDownloads | shortScale }}</span> requests since 2020-07-23.
                </p>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 bg-dark" width="800" height="240"
             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
             focusable="false" role="img">
            </svg>
            <div class="carousel-caption d-md-block">
              <h3>
                <i class="fas fa-fw fa-info-circle"></i> Information 
              </h3>
              <p>
                <i class="fas fa-fw fa-globe"></i> <span class="text-warning font-weight-bold">{{ .domains }}</span> Domains 
                <i class="fas fa-fw fa-cubes"></i> <span class="text-warning font-weight-bold">{{ .packages }}</span> Packages
              </p>
            </div>
          </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary btn-lg mb-2" href="/dashboard" role="button">
            Getting Started <i class="fas fa-fw fa-arrow-right"></i>
        </a>
        <a class="btn btn-success btn-lg ml-3 mb-2" target="_blank" href="https://github.com/razonyang/gopkgs" role="button">
            <i class="fab fa-fw fa-github"></i> GitHub
        </a>
    </div>
</div>
{{ end }}